.categories h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #0a14cf, #090979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 35px;
}

.category-card {
  text-align: center;
  transition: 0.3s;
}

.category-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
}

.category-card h3 {
  margin-top: 15px;
  font-weight: 600;
}

.category-card:hover {
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  .categories-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 25px;
  }
}
@media (max-width: 768px) {

  .jobs-container {
    gap: 25px;
  }

  .job-card {
    flex-direction: column; 
    align-items: flex-start;
    padding-bottom: 20px;
  }

  .job-header {
    margin-bottom: 10px;
  }

  .job-location,
  .job-applicants {
    width: 100%; 
    margin-bottom: 8px;
  }

  .btn-hire {
    width: 100%; 
    text-align: center;
  }
}

