.categories h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #0a14cf, #090979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 35px;
}

.category-card {
  text-align: center;
  transition: 0.3s;
}

.category-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
}

.category-card h3 {
  margin-top: 15px;
  font-weight: 600;
}

.category-card:hover {
  transform: translateY(-5px);
}
