@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.footer {
  background: #000000;   
  color: #e5e7eb;        
  padding: 80px 8% 40px 8%;
  font-family: 'Poppins', sans-serif;
}


/* MAIN CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 60px;
}

/* BRAND */
.footer-brand h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;


  background: linear-gradient(90deg, #0a14cf, #090979, #00ff44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
  color: #d1d5db;   
}

/* SECTION HEADINGS */
.footer-links h3,
.footer-policies h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;  
}

/* LINKS */
.footer-links ul,
.footer-policies ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-policies li {
  margin-bottom: 12px;
}

.footer a {
  text-decoration: none;
  color: #e5e7eb;   
  font-size: 14px;
  transition: 0.3s ease;
}

.footer a:hover {
  color:  #0a14cf, #090979, #00ff44;   
  padding-left: 6px;
}

/* BOTTOM */
.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.2); 
  text-align: center;
  font-size: 13px;
  color: #cbd5e1;   
}
@media (max-width: 768px) {

  .footer-container {
    grid-template-columns: 1fr;   /* Make single column */
    gap: 40px;
    text-align: left;
  }

  .footer {
    padding: 60px 20px 30px 20px;
  }

  .footer-brand h2 {
    font-size: 22px;
  }

  .footer-links h3,
  .footer-policies h3 {
    font-size: 15px;
  }

  .footer-bottom {
    font-size: 12px;
    padding-top: 15px;
  }
}
