.hero {
  padding: 140px 8% 100px 8%;   /* balanced spacing */
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-overlay {
  max-width: 800px;
}

/* TITLE */
.hero-overlay h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;

  background: linear-gradient(
    90deg,
    rgba(10, 20, 207, 1),
    rgba(9, 9, 121, 1),
    rgba(0, 255, 68, 1),
    rgba(10, 20, 207, 1)
  );

  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientLoop 5s linear infinite;
}


/* SUBTEXT */
.hero-overlay p {
  font-size: 17px;
  color: #6b7280;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* BUTTON */
.btn-primary {
  padding: 14px 34px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;

  background: linear-gradient(
    90deg,
    rgba(10, 20, 207, 1),
    rgba(9, 9, 121, 1),
    rgba(0, 255, 68, 1),
    rgba(10, 20, 207, 1)
  );

  background-size: 300% auto;
  animation: gradientLoop 5s linear infinite;

  transition: 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(10, 20, 207, 0.25);
}
@keyframes gradientLoop {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 300% center;
  }
}
