.services h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #0a14cf, #090979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
}

.service-card {
  text-align: center;
  transition: 0.3s;
}

.service-icon img {
  width: 70px;
  margin-bottom: 20px;
}

.service-card:hover {
  transform: translateY(-6px);
}
